#root {
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.headerDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #888;
}

.box {
  border: 1px solid white;
  height: 100px;
  width: 100px;
  margin: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  cursor: pointer;
  /* user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
}

.main {
  margin: 5px;
	/* top:70px;
  left:400px; */
  height: 450px;
  width: 450px;  
  /* position:relative;  */
  display: flex;
  flex-wrap: wrap;
  /* flex-grow: 1; */
}

.main-div{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  height: 85vh;
}
